<h3>New Post</h3>
<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to "Main Page", root_path, class: "btn btn-success" %>
